{% extends 'file_sharing/base.html' %}
{% load file_sharing_tags %}
{% load static %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
		<li><div class="article-panel">
			<p class="first">Дисциплина:{{p.discipline}}</p>
			<p class="last">Дата:{{p.date|date:'d-m-Y H:i:s'}}</p>
		</div>


			<h4>{{p.teacher}}:</h4>
	{% autoescape on %}
	{{p.description|linebreaks|truncatewords:10}}
	{% endautoescape %}
			<div class="clear"></div>


{% for file in p.files.all %}
	<a href="{{ file.file.url }}" download="{% if file.name %}{{ file.name }}{% else %}file{% endif %}">
        {% if file.file.name|file_extension %}

            {% if file.file.name|file_extension == '.pdf'  %}
                <img src="{% static 'file_sharing/images/Pdf.ico' %}" alt="PDF Icon">
			{% endif %}

			{% if file.file.name|file_extension == '.doc' or file.file.name|file_extension == '.docx' %}
				<img src="{% static 'file_sharing/images/word.ico' %}" alt="Word Icon">
            {% endif %}

			{% if file.file.name|file_extension == '.xls' or file.file.name|file_extension == '.xlsx' %}
				<img src="{% static 'file_sharing/images/word.ico' %}" alt="Excel Icon">
            {% endif %}

			{% if file.file.name|file_extension == '.pptx' %}
				<img src="{% static 'file_sharing/images/powerpoint.ico' %}" alt="Powerpoint Icon">
            {% endif %}

			{% if file.file.name|file_extension == '.jpg' or file.file.name|file_extension == '.jpeg' or file.file.name|file_extension == '.png' or file.file.name|file_extension == '.jfif' %}
				<img src="{% static 'file_sharing/images/image.ico' %}" alt="Image Icon">
            {% endif %}

			{% if file.file.name|file_extension == '.txt'  %}
				<img src="{% static 'file_sharing/images/txt.ico' %}" alt="Txt Icon">
            {% endif %}

        {% endif %}
	</a>
{% endfor %}

			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
