{% extends 'file_sharing/base.html' %}
{% load file_sharing_tags %}
{% load static %}

{% block content %}
<h1>{{post.teacher}} - {{post.discipline}}</h1>

{% for file in post.files.all %}
	<a href="{{ file.file.url }}" download="{% if file.name %}{{ file.name }}{% else %}file{% endif %}">
        {% if file.file.name|file_extension %}

            {% if file.file.name|file_extension == '.pdf'  %}
                <img src="{% static 'file_sharing/images/Pdf.ico' %}" alt="PDF Icon">
			{% endif %}

			{% if file.file.name|file_extension == '.doc' or file.file.name|file_extension == '.docx' %}
				<img src="{% static 'file_sharing/images/word.ico' %}" alt="Word Icon">
            {% endif %}

			{% if file.file.name|file_extension == '.xls' or file.file.name|file_extension == '.xlsx' %}
				<img src="{% static 'file_sharing/images/word.ico' %}" alt="Excel Icon">
            {% endif %}

			{% if file.file.name|file_extension == '.pptx' %}
				<img src="{% static 'file_sharing/images/powerpoint.ico' %}" alt="Powerpoint Icon">
            {% endif %}

			{% if file.file.name|file_extension == '.jpg' or file.file.name|file_extension == '.jpeg' or file.file.name|file_extension == '.png' or file.file.name|file_extension == '.jfif' %}
				<img src="{% static 'file_sharing/images/image.ico' %}" alt="Image Icon">
            {% endif %}

        {% endif %}
	</a>
{% endfor %}


{{post.description|linebreaks}}
{% endblock %}
